<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Register</h1>
        <button class="button button-clear button-positive" ng-click="registerModalHide()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <form ng-submit="newUser(user)">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Type your e-mail" ng-model="user.email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Type your password" ng-model="user.password">
                </label>
                <div class="padding">
                    <button type="submit" class="button button-block button-positive">Make new user</button>
                </div>
            </div>
        </form>
    </ion-content>

</div>