<div class="list padding-top">
    <label class="item item-input item-stacked-label">
        <span class="input-label htitle">Currencies</span>
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="USD">
    </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="American dollar">
    </label>

    <button class="button button-calm col col-33 col-offset-33">Submit</button>
</div>