<ion-header-bar class="bar-secondary bar-calm">
    <h1 class="title">New Record</h1>
</ion-header-bar>

<!-- Modal content area -->
<ion-content>

    <form ng-submit="createRecord(record)">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="New record" ng-model="record.title">
            </label>
        </div>
        <div class="padding">
            <button type="submit" class="button button-block button-calm">Create Record</button>
        </div>
    </form>

</ion-content>