<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">New Account</h1>
        <button class="button button-clear button-positive" ng-click="closeNewAccount()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <form ng-submit="createAccount(account)">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Name of the account" ng-model="account.name" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Description" ng-model="account.description">
                </label>
                <div class="item item-input item-select">
                    <div class="input-label">
                        Currency:
                    </div>
                    <select ng-model="account.currency" ng-options="key as currency.name for (key, currency) in currencies"></select>
                </div>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Create Account</button>
            </div>
        </form>

    </ion-content>

</div>