<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">New Record</h1>
        <button class="button button-clear button-positive" ng-click="closeNewRecord()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <form ng-submit="createRecord(record)">
            <div class="list">
                <label class="item item-input">
                    <input type="number" placeholder="Name of the record" ng-model="record.amount" required>
                </label>
                <label class="item item-input">
                    Date
                    <input type="datetime-local" placeholder="Date" ng-model="record.date">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Description" ng-model="record.description">
                </label>
                <div class="item item-input item-select">
                    <div class="input-label">
                        Category:
                    </div>
                    <select ng-model="record.category" ng-options="key as category.name for (key, category) in categories"></select>
                </div>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Create Record</button>
            </div>
        </form>

    </ion-content>

</div>