<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">New Record</h1>
        <button class="button button-clear button-positive" ng-click="closeNewRecord()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <form ng-submit="createRecord(record)">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Name of the currency" ng-model="record.title">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Description" ng-model="record.description">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Create Record</button>
            </div>
        </form>

    </ion-content>

</div>