<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Update Category - {{current_category.name}}</h1>
        <button class="button button-clear button-positive" ng-click="closeUpdateCategory()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
        <form ng-submit="updateCategory(category)">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="{{current_category.name}}" ng-model="category.name" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{current_category.description}}" ng-model="category.description" required>
                </label>
                <label class="item item-input">
                    <div class="input-label">
                        Color:
                    </div>
                    <input type="color" ng-model="category.color" required>
                </label>
                <div class="item item-input item-select">
                    <div class="input-label">
                        Account:
                    </div>
                    <select ng-model="category.account" ng-options="key as account.name for (key, account) in accounts" required></select>
                </div>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Update Category</button>
            </div>
        </form>

    </ion-content>

</div>