<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Update Currency - {{current_currency.name}}</h1>
        <button class="button button-clear button-positive" ng-click="closeUpdateCurrency()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <form ng-submit="updateCurrency(currency)">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="{{current_currency.name}}" ng-model="currency.name" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="{{current_currency.description}}" ng-model="currency.description" required>
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Update Currency</button>
            </div>
        </form>

    </ion-content>

</div>