<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Update Category</h1>
        <button class="button button-clear button-positive" ng-click="closeUpdateCategory()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <form ng-submit="updateCategory(category)">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Name of the category" ng-model="category.title">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Description" ng-model="category.description">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Update Category</button>
            </div>
        </form>

    </ion-content>

</div>