<ion-header-bar class="bar-secondary bar-calm">
    <button class="button button-icon" ng-click="toggleLeft()">
        <i class="icon ion-navicon-round icon-left"></i>
    </button>
    <h1 class="title">Categories</h1>
    <button class="button button-icon" ng-click="newCategory()">
        <i class="icon ion-plus icon-right"></i>
    </button>
</ion-header-bar>

<ion-content>
    <!-- our list and list items -->
    <ion-list>
      <ion-item ng-repeat="(key, category) in categories">
        <div class="categoryColor" ng-style="{'color': '{{category.color}}'}">{{category.name}}</div>
          <h6 ng-style="{'color': '{{category.color}}'}">{{category.description}}</h6>
        <ion-option-button class="button-balanced" ng-click="editCategory(key, category)">Edit</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="deleteCategory(key)">Delete</ion-option-button>
      </ion-item>
    </ion-list>
    <style>

    </style>
</ion-content>